.welcome-screen {  
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 85vh;
}
.space-header {
    height: 15vh;
}
.box-info {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 65rem;
    height: 40rem;
    align-items: center;
    flex-direction: column;
}
.box-info div {
    width: 100%;
    height: 3rem;
    border: 2px solid black;
}

.box-info span {
    width: 100%;
    height: 20rem;
    border: 2px solid black;
}
.box-info h1 {
    width: 100%;
    height: 3rem;
    border: 2px solid black;
}
.box-info h2 {
    width: 100%;
    height: 3rem;
    border: 2px solid black;
}
.image-show {
    border: 2px solid black;
    width: 65rem;
    height: 80vh;
}